navbar
.container
  .col-md-8.col-md-offset-2

    uib-tabset
      uib-tab(heading="Map")

        ui-gmap-google-map(
          center='map.center',
          zoom='map.zoom',
          options='mapOptions')

          ui-gmap-marker(
            ng-repeat="activity in reviews",
            idKey="activity._id",
            coords="{longitude: activity.location.coordinates[0], latitude: activity.location.coordinates[1]}")

        ul.list-unstyled.feed

          a(ng-repeat="activity in reviews", ng-href="/review/{{activity._id}}")

            li
              span.glyphicon.pull-right(ng-class="{'glyphicon-thumbs-up': activity.thumbs === 'up', 'glyphicon-thumbs-down': activity.thumbs === 'down'}")

              span(ng-bind-html="activity.placeName")


      uib-tab(heading="Add Review")

        //- Review form
        form.form.reviewForm(name="reviewForm")

          //- Google Typeahead
          .form-group
            label Search
            input.form-control(
              type="text",
              ng-model="reviewForm.googlePlace",
              g-places-autocomplete,
              forceSelection=true,
              options="autocompleteOptions"
            )

          .placard(ng-show="reviewForm.googlePlace.name")
            .form-group
              //- img.pull-right(ng-src="{{reviewForm.googlePlace.icon}}")
              p.h4 {{reviewForm.googlePlace.name}}
              p {{reviewForm.googlePlace.formatted_phone_number}}
              p
                span {{reviewForm.googlePlace.address_components[0].short_name}} {{reviewForm.googlePlace.address_components[1].short_name}}
                br
                span {{reviewForm.googlePlace.address_components[2].short_name}}, {{reviewForm.googlePlace.address_components[3].short_name}}

            .well.well-sm(ng-show="reviewForm.googlePlace.name")
              .form-group
                div
                  label Rating
                div.btn-group
                  label.btn.btn-primary(ng-model="reviewForm.thumb" uib-btn-radio="'up'" uncheckable)
                    span.glyphicon.glyphicon-thumbs-up
                  label.btn.btn-primary(ng-model="reviewForm.thumb" uib-btn-radio="'down'" uncheckable)
                    span.glyphicon.glyphicon-thumbs-down

              .form-group(ng-show="reviewForm.googlePlace.name")
                label Comments
                textarea.form-control(type="text", rows="2", ng-model="reviewForm.comments")

              .form-group(ng-show="reviewForm.googlePlace.name")
                button.btn.btn-block.btn-success(ng-click="addReview(reviewForm)") Save




      uib-tab(heading="People")

        div.userBox
          img(ng-src="{{currentUser.google.image.url}}")

          span.name {{currentUser.google.displayName}}


        p(ng-show="rowIsLoading") loading...
        table.table.text-center(ng-show="!rowIsLoading")
          thead
            tr
              th.text-center Name
              th.text-center Following me
              th.text-center
          tbody
            tr(ng-repeat="user in users | filter: {isMe: false}")
              td
                p {{user.name}}
              td
                span.glyphicon(ng-class="{'glyphicon-ok': user.isFollowingMe}")
              td
                button.btn.btn-success(ng-if="!user.imFollowing", ng-click="follow(user)")
                  span + follow
                button.btn.btn-danger(ng-if="user.imFollowing", ng-click="unFollow(user)")
                  span &times; unfollow



